@media (max-width: 400px){
    .sidebar-label-farm{
        color: white;
        font-family: ProximaNova-Regular;
        padding: 0px 10px;
        border-radius: 50px;
        font-size: 12px;
        white-space: nowrap;
        width: auto;
        overflow: hidden;
        max-width: 150px;
        text-overflow: ellipsis
    }
    .sidebar-label-email {
        color: white;
        font-family: ProximaNova-Regular;
        padding: 0px 10px;
        border-radius: 50px;
        font-size: 10px;
        white-space: nowrap;
        width: auto;
        overflow: hidden;
        max-width: 150px;
        text-overflow: ellipsis
    }
    .img-card{
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 640px){
    .popup-foreground {
        width: 90%;
    }
    .pop-up-register {
        width: 92%;
    }
}