html, body{
  height:100%; 
  margin:0;
  padding:0;  
  overscroll-behavior: none;
}

hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.bg-bg{
  background-image: url(./assets/media/misc/head_bg_sm.jpg);
}

.w78{
  width: 78%;
}

.w55{
  width: 55%;
}

.w24{
  width: 24%;
}

.h420{
  height: 420px;
}

/* LOGIN */
.login-wrapper{
  background: linear-gradient(to bottom, rgb(217, 235, 251) 0%, #3c7bba 100%);
  font-family: Gotham-Book;
  color: #fff;
}

.line-login {
  border-left: 1px solid white;
  height: 50vh;
  margin: 0 45px;
}

.logo-login{
  text-align: center;
}

.work-login{
  font-family: Gotham-Book;
  color: #fff;
}

.dice-login{
  width: 220px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 30px;
}

/*PROFILE*/
.profile{
  display: flex;
  align-items: center;
  padding: 20px 20px;
  /*background-color: rgba(0,0,0, 0.3);*/
}

.profile-wrapper{
  justify-content: center !important;
  flex-direction: column;
}

.profile-border{
  border: 2px solid #bbb;
  border-radius: 5px;
  margin: 10px !important;
  padding: 10px !important;
  background: #ffff;
}

.profile-details {
  font-family: ProximaNova-Regular;
  color: #000000;
  font-size: 14px;
}

.profile-details-label{
  font-family: ProximaNova-Regular;
  color: #000000;
  font-size: 14px;
}

.profile-change-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:10px;
}

.profile-change-button{
  font-family: ProximaNova-Regular;
  color: #fff;
  background: yellowgreen;
  padding: 10px;
  border-radius: 5px;
  font-size: 11px;
  margin: 5px;
}

.form-user-profile input[type=text], 
textarea, 
select{
  border: 1px solid #000000;
  border-radius: 2px;
}

.form-user-profile input[type=text]:disabled, 
textarea:disabled, 
select:disabled{
  border: none;
}

.form-user-profile input[type=text]:focus, 
.form-user-profile textarea:focus, 
.form-user-profile select:focus{
  -moz-box-shadow: 0 0 8px #000000;
  -webkit-box-shadow: 0 0 8px #000000;
  box-shadow: 0 0 8px #000000;
}

.edit-profile-btn{
  position: relative;
  border: 2px solid #1a6bff;
  padding: 0px 5px;
  border-radius: 3px;
  color: #1a6bff;
  font-size: 12px;
  background: aliceblue;
  font-weight: bold;
}

.edit-profile{
  float: right;
  width: 100%;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
}

/************/

.sidebar-view-profile {
  text-align: center;
  border: 1px solid white;
  font-size: 12px;
  line-height: 1rem;
  margin: 5px 20px;
  border-radius: 10px;
  padding: 2px 10px;
  width: 100px;
}

.mt10{
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #449d44;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.search-container{
  width: 490px;
  display: block;
  margin: 0 auto;
} 

.red-border {
  align-items: flex-start !important;
  justify-content: space-between !important;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
      opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
      opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
     opacity: 0;
     }    
   }
 }

.search-icons{
  position: relative;
  float: right;
  width: 75px;
  top: -32px;
  right: -45px;
}


.snackbar {
  max-width: 100%;
  background-color: rgb(0,0,0,0.7777);
  color: #fff;
  text-align: left;
  z-index: 1;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  font-size: 12px;
  position: relative;
  display: none !important;
}

.snackbar-title{
  width: 100%;
  padding-left: 10px;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snackbar-close{
  width:10%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff !important;
}

.pad36 {
  padding-top: 36px;
}

.snackbar.show {
  display: flex !important;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

@-webkit-keyframes fadein {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
/*
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}*/

/* The container */
.container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
}

/* Hide the browser's default checkbox */
.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.privacy-wrap{
  padding-left: 20px !important;
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: ProximaNova-Regular;
  src: url('./fonts/custom/ProximaNova-Regular_0.otf'); 
}

@font-face {
  font-family: ProximaNova-Medium;
  src: url('./fonts/custom/ProximaNova-Regular_0.otf'); 
}

@font-face {
  font-family: ProximaNova-Bold;
  src: url('./fonts/custom/ProximaNova-Bold_0.otf'); 
}

@font-face {
  font-family: ProximaNova-Semibold;
  src: url('./fonts/custom/ProximaNova-Semibold_0.otf'); 
}

@font-face {
  font-family: ProximaNova-Light;
  src: url('./fonts/custom/ProximaNova-Light_0.otf'); 
}

@font-face {
  font-family: Gotham-Light;
  src: url('./fonts/gotham/Gotham-Light.otf'); 
}

@font-face {
  font-family: Gotham-Book;
  src: url('./fonts/gotham/GothamBook.ttf'); 
}


@font-face {
  font-family: Gotham-Bold;
  src: url('./fonts/gotham/Gotham-Bold.otf'); 
}

@font-face {
  font-family: Gotham-Black;
  src: url('./fonts/gotham/Gotham-Black.otf'); 
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}



textarea {
  outline: none;
  border: none;
}
.m-t-85 {margin-top: 35px;}
.m-b-35 {margin-bottom: 13px;}
.m-b-50 {margin-bottom: 15px;}
textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/

.cont {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;  
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.adjustContent {
  justify-content: center;
}

.imgSize {
  background-size: contain;
  background-repeat: no-repeat;
}

.adjust {
  margin: 10px;
  text-align: center;
}

.img-card {
  width: 80px;
  height: 80px;
  background-size: contain;
  border-radius: 100%;
}


.containView {
  width: 100%;  
  min-height: 100vh;
}
/*Reset Password*/
.reset-form-title {
  display: block;
  font-family: ProximaNova-Semibold;
  font-size: 27px;
  line-height: 1.2;
  text-align: left;
  align-items: center;
  margin-bottom: 5px;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;  
}


.wrap-login100 {
  width: 390px;
}

.login-logo {
  right: 0;
  top: 0;
  position: fixed;
  padding-left: 50px;
}

.salto-logo {
  background-size: contain;
  width: 17vh;
  height: auto;
  right: 0;
  position: relative;
  top: 0;
}

.circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #db3745;
  width: 300px;
  height: 300px;
  position: absolute;
  margin-top: -137px;
  margin-left: -58px;
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Gotham-Bold;
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
  align-items: center;
}


.login100-form-avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-avatar img {
  width: 100%;
}

.align-text {
  text-align: left !important;
  left: 30px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-radius: 35px;
  border: 2.3px solid white !important;
}

.input100 {
  font-family: Gotham-Light;
  font-size: 18px;
  line-height: 1.2;
  display: block;
  color: #fff;
  width: 100%;
  height: 32px;
  margin-top: 10px;
  background: transparent;
  padding: 0 10px; 
}

.password-disclaimer{
  font-family: ProximaNova-Light;
    font-size: .6rem;
    display: block;
    line-height: .8rem;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  
}

.focus-input100::after {
  font-family: Gotham-Light;
  font-size: 15px;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 13px;
  left: 0px;
  padding-left: 10px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: 4px;
  font-size: 10px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: 4px;
  font-size: 10px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.login100-form-btn {
  font-family: Gotham-Light;
  font-size: 12px;
  line-height: 1.2;
  display: flex;
  background-color: #3975ab;
  justify-content: center;
  align-items: center;
  padding: 0px 4px;
  width: 100px;
  color:white;
  height: 28px;
  border-radius: 25px;
  border: 10px;
  font-weight: bold;
}

.login100-form-btn-dash {
  font-family: ProximaNova-Semibold;
  font-size: 16px;
  color: #fff;
  z-index: 9999;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 50%;
  height: 35px;
  background-color: #db3745;
  border-radius: 5px;
  border: 10px;
}
/* [Sign up] */
.regular-label {
  font-family: ProximaNova-Regular;
}
.center-align {
  text-align: center;
  margin-top: 10px;
}
.center-align-signup {
  text-align: center;
  margin-top: 10px;
      position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 0%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: ProximaNova-Regular;
  color: #c80000;
  font-size: 9px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 9px;
  color: #c80000;

  display: block;
  position: absolute;
  top: 0%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}




/*//////////////////////////////////////////////////////////////////
[ Login more ]*/
.login-more li {
  position: relative;
  padding-left: 16px;
}

.login-more li::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #cccccc;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

/*////////////////////////
[ Sidebar]*/
/* ==========  Sidebar ========== */
.menu-icon-wrap{
  font-size: 35px;
  padding: 5px 11px;
  color: #fff;
}

.containing {
  display: block;
}
.main-container {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    height: 100vh;
}
.home {
    width: 100%;
    height: 100vh;
    position: relative;
}
.header-container {
    position: absolute;
    left: 20px;
    z-index: 999;
    width: 100%;
    height: 40px;
    flex-direction: column;

}
.home-panels-2 {
    width: 100vw;
    height: 50vh;
    display: flex;
}
.menu-label {
  font-family: ProximaNova-Bold;
  margin: 5px;
  font-size: 1rem;
}
.menu-wrap {
  padding: 0 !important;
  padding-left: 2px !important;

}
.home-container {
    max-width: none;
    margin: 20px;
    display: block;
    
}
.fullText {
  max-width: none;
  width:100%;
  height: 300px;
  display:block;
  margin: 0 auto;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
}
.inputText {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 10px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
}
.sidebar {
    position: relative;
    height: 100%;
}
.sidebar-opened {
  margin-left: 0px;
  -webkit-animation-name: animate-sidebar-open; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .8s; /* Safari 4.0 - 8.0 */
  animation-name: animate-sidebar-open;
  animation-duration: .8s;
  height: 100%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animate-sidebar-open {
  0%   {margin-left: -300px;}
  100%   {margin-left: 0px;}
}

/* Standard syntax */
@keyframes animate-sidebar-open {
  0%   {margin-left: -280px;}
  100%   {margin-left: 0px;}
}

.closed{
  margin-left: -300px;
}

.sidebar-closed {
  margin-left: -300px;
  -webkit-animation-name: animate-sidebar-close; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .8s; /* Safari 4.0 - 8.0 */
  animation-name: animate-sidebar-close;
  animation-duration: .8s;
  height: 100%;
}

.sidebar-content-wrapper{
  width: 300px;
  height: 100%;
  position: relative;
}

.breeder-container {
  width: 100%;
}

.breeder-priming {
  width: 250px !important;
}

.label-align {
  width: 100%;
  margin: 0 !important;
  padding-left: 20px;
  height: 40px;
  display: flex;
  align-items: center;
}

.breeder-container label:hover{
  background: rgba(0, 0, 0, 0.2);
}

.breeder-container .active {
  background: rgba(0, 0, 0, 0.2);
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animate-sidebar-close {
  0%   {margin-left: 0px;}
  100%   {margin-left: -300px;}
}

/* Standard syntax */
@keyframes animate-sidebar-close {
  0%   {margin-left: 0px;}
  100%   {margin-left: -300px;}
}

.remove-overflow-mobile {
    overflow: hidden;
}

.sidebar-label {
  font-family: ProximaNova-Regular;
}

.sidebar-label-farm {
    color: white;
    font-family: ProximaNova-Regular;
    padding: 0px 10px;
    line-height: 1rem;
    border-radius: 50px;
    font-size: 14px;
     white-space: nowrap;
    width: auto;
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
}

.sidebar-label-email {
    color: white;
    font-family: ProximaNova-Regular;
    padding: 0px 10px;
    line-height: 1rem;
    border-radius: 50px;
    font-size: 12px;
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
}

.sidebar-name {
  right: 0;
}

.sidebar-profile{
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  justify-content: center;
}

.sidebar-close:before {
    content: "\f107";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    right:5px;
    position:absolute;
    top:11px;
    color: #fff;
}

.sidebar-open:before {
    content: "\f107";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    right:5px;
    position:absolute;
    top:11px;
    color: #fff;
    transform: rotate(180deg);
}

.sidebar-profile ul {
  position: absolute;
  z-index: 999;
  border: 1px solid #fff;
  background: #fff;
  padding: 6px 6px;
  margin: 0;
  color: #db3745;
  list-style: none;
  width: 90%;
  top: 35px;
  font-family: ProximaNova-Regular;
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.15);
  -moz-box-shadow: 0 3px 8px rgba(0,0,0,.15);
  box-shadow: 0 3px 8px rgba(0,0,0,.15);
}

.sidebar-open ul{
  display: block;
}

.sidebar-close ul{
  display: none;
}

.sidebar-profile ul li {
  height: 20px;
}

.sidebar-logout{
  position: absolute;
  transform: translate3d(0,0,0);
  bottom: 0;
  padding: 0px 10px 5px 5px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logout-contain {
  width: auto;
  padding-bottom: 3px;
  padding-right: 10px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.box {
   display: flex;
   align-items:center;
   padding: 10px 15px;
}

.box-wrap{
  display: flex;
   align-items:center;
}

.menu-bar-breed {
  width: 20px;
  height: 20px;
  background-size: contain;
  vertical-align:middle;
}
.menu-label-breed {
  font-family: ProximaNova-Semibold;
  font-size: 1.4rem;
  margin-left: 5px;
  margin-bottom: -3px;
}

.search-container {
  margin-top: 10px;
  padding-bottom: 5px;
}

.doughnutLabel {
  position: relative;
  top: -37%;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
}
.doughnutHatchLabel {
  position: relative;
  top: -37%;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
}

.no-margin {
  margin: 0px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  max-width: 600px !important; 
  padding-top:20px;
}
progress {
  display:inline-block;
  width:190px;
  height:20px;
  padding:15px 0 0 0;
  margin:0;
  background:none;
  border: 0;
  border-radius: 15px;
  text-align: left;
  position:relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  color: #db3745;
}
progress::-webkit-progress-bar {
  height:11px;
  width:150px;
  margin:0 auto;
  background-color: #CCC;
  border-radius: 15px;
}
progress::-webkit-progress-value {
  display:inline-block;
  float:left;
  height:11px;
  margin:0px -10px 0 0;
  background: #db3745;
  border-radius: 15px;
}
progress:after {
  margin:-26px 0 0 -7px;
  padding:0;
  display:inline-block;
  float:left;
  content: attr(value) '%';
}


.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 99999999999999 !important;
  background-color: rgba(0,0,0, 0.3);
}

.adjust-done {
  margin-top: 30px !important;
}

.popup_inner {
  position: absolute;
  left: 2%;
  right: 2%;
  top: 10%;
  bottom: 25%;
  width: 280px;
  height: 230px;
  flex-direction: column;
  margin: auto;
  padding: 25px 10px;
  background: #db3745;
  border-radius: 10px;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.icon-cards-batch {
  position: absolute;
  display: block;
  top: 0;
  right: 10px;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #fff;
}

.vertical-timeline-element-tutorial {
  padding: 0em 0 !important;
}
.vertical-timeline-element-tutorial .vertical-timeline-element-content{
  padding: 0em !important;
}
.vertical-timeline-element{
  padding: 0em !important;
  margin: 1em 0 !important;
}

.vertical-timeline-tutorial {
  padding: 0em 0 !important;
}
.vertical-timeline-element-tutorial-title {
  color: #db3745;
  font-style: italic;
  font-size: 14px;
}
.vertical-timeline-element-tutorial-subtitle {
  color: #db3745;
  font-size: 12px;
  font-weight: bolder;
  text-decoration: underline;

}
.vertical-timeline-element-tutorial-p {
  color: #a0a0a0;
  font-size: 10px;
}

.vertical-timeline-element-tutorial .vertical-timeline-element-icon svg {
  padding: 5px;
}

.vertical-timeline-element-tutorial-title-gray {
  color: #a0a0a0;
  font-style: italic;
  font-size: 14px;
}
.vertical-timeline-element-tutorial-subtitle-gray {
  color: #a0a0a0;
  font-size: 12px;
  font-weight: bolder;
  text-decoration: underline;

}
.vertical-timeline-element-tutorial-p-gray {
  color: #a0a0a0;
  font-size: 10px;

}
/*------------------------------------------------------------------
[ Input ]*/

.wrap-input-batch100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}

.input-batch100 {
  font-family: ProximaNova-Regular;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 12px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input-batch100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input-batch100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #fff;
}

.focus-input-batch100::after {
  font-family: ProximaNova-Medium;
  font-size: 12px;
  color: #fff;
  line-height: .4;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input-batch100:focus + .focus-input-batch100::after {
  top: -11px;
  font-size: 12px;
}

.input-batch100:focus + .focus-input-batch100::before {
  width: 100%;
}

.has-val.input-batch100 + .focus-input-batch100::after {
  top: -11px;
  font-size: 12px;
}

.has-val.input-batch100 + .focus-input-batch100::before {
  width: 100%;
}

.taget-batch {
  margin-top : 20px;
}

.batch-done {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.btn-done {
  text-align: center;
  font-family: ProximaNova-Light;
  font-size: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);;
  padding: 4px 30px;
  border:none;
  border-radius: 15px;
}


.schedule-wrapper {
  background: #F7F7F7;
  /*height: 55.8vh;
  overflow-y: scroll;*/
}
.vertical-timeline-element-icon {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.vertical-timeline { 
  margin: 0 auto !important;
}
.vertical-timeline::before {
  background: #db3745 !important
}


.vertical-timeline-element-icon {
  width: 20px !important;
  height: 20px !important;
  margin-left: -10px !important;
}

.vertical-timeline-element-content{
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}



/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: rgba(0, 0, 0, 0.2);;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.2) !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.2) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 0, 0, 0.2) !important;
}

input:focus::-webkit-input-placeholder { color:transparent !important; }
input:focus:-moz-placeholder { color:transparent !important; }
textarea:focus::-webkit-input-placeholder { color:transparent !important; }
textarea:focus:-moz-placeholder { color:transparent !important; }

label {
  margin-bottom: 0 !important; 
}

.fix-header{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.fix-head {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.fix-header-animal{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.white-background{
  background-color: #fff;
}

.margin100{
  margin-top: 120px
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.header-calendar {
  display: block;
  width: 100%;
  padding: .5em 0;
  color: #000000;
}

.header-calendar #logo {
  font-size: 175%;
  text-align: center;
  font-family: 'ProximaNova-Semibold' !important;
  color: #fff;
  line-height: 1;
}

.header-calendar #logo .icon {
  padding-right: .25em;
}

.main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}


/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}


.row {
  margin-left: 0 !important;
  margin-right:  0 !important;  
}

.col {
  margin-left: 0 !important;
  margin-right:  0 !important;
  padding-left: 0 !important;
  padding-right:  0 !important;
}

.charts-container {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  margin-left:15px !important;
}


.dashboard_info {
  text-align: center;
  color: #FFF;
  background-color: #db3745;
  padding: 10px;
  border-radius: 10px;
   
}

/*SIGN UP*/
.signup-circles {
  right: 0;
  top: 0;
  position: fixed;
  padding-left: 220px;
}
.circle-inside {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #db3745;
  width: 300px;
  height: 300px;
  position: relative;
  margin-top: -167px;
  margin-right: -98px;
}
.gray-container {
  left: 0;
  top: 0;
  position: fixed;
  margin-top: 50px;
}
.circle-gray {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #b9bbbd;
  width: 100px;
  height: 100px;
  position: relative;
  margin-top: 7px;
  margin-left: -28px;
  left: 0;
}
.check-wrapper {
  flex-direction: row;
}
.form-check-label {
  font-family: ProximaNova-Regular;
}
.wrap-inputCheckbox {
  width: 100%;
  position: relative;
  flex-direction: column;
}
.m-b-10 {
  margin-bottom: 30px;
}
.form-check-label {
  padding-left : 0px !important;
  text-align: center;
}
.m-b-30 {
  margin-bottom : 30px;
}

.form-check-input input[type=checkbox]:checked {
  background-color: #a77e2d !important;
  color: #ffffff !important;
}

/*Menu bar*/
.menu-bar {
  background-size: contain;
  margin-top: 5px;
  width: 15px;
  height: 15px;
  background-size: contain;
  vertical-align:middle;
}
.menu-bar-logout {
  width: 25px;
  height: 25px;
  background-size: contain;
}

.label-container {
  width: 200px;
  height: 25px;
}


/*RESPONSIVE*/
@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
  
}
@media only screen and (max-width: 340px) {
  .imgSize {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .login100-form-title{
    font-size: 25px;
  }
  .no-margin {
    margin: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    max-width:140px !important;
    padding-top:20px;
  }

  .doughnutLabel {
    font-size: 10px;
    top: -50%;
    color: #db3745;
    text-align: center;
  }

  .doughnutHatchLabel {
    font-size: 10px;
    top: -50%;
    color: #728ef5;
    text-align: center;
  }
    
}
@media only screen and (max-width: 420px) and (min-width: 340px) {
  .imgSize {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .login100-form-title{
    font-size: 25px;
  }
  .no-margin {
    margin: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    max-width:190px !important;
    vertical-align: 0px;
    padding-top:20px;
  }

  .doughnutLabel {
    font-size: 13px;
    color: #db3745;
    top: -45%;
    
    text-align: center;
  }

  .doughnutHatchLabel {
    font-size: 13px;
    top: -45%;
    
    text-align: center;
    color: #728ef5;
  }
    
}
@media only screen and (max-width: 440px) and (min-width: 420px){
  .imgSize {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .login100-form-title{
    font-size: 25px;
  }
  .no-margin {
    margin: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    max-width:200px !important;
    padding-top:20px;
  }
  .doughnutLabel {
    font-size: 15px;
    color: #db3745;
    top: -45%;
    
    text-align: center;
  }  

  .doughnutHatchLabel {
    font-size: 15px;
    top: -45%;
    
    text-align: center;
    color: #728ef5;
  }
}

@media only screen and (max-width: 898px){
  .line-login {
    border-left : 0;
    height: auto;
    border-bottom: 1px solid white;
    width: 50vh;
    margin: 0 45px;
  }
}

@media only screen and (max-width: 768px) {
  .batch-dropdown-drop ul {
    width: 84%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 400px) {

  
  .wrap-login100 {
      width: 250px;
  }
  .search-wrap {
      width: 250px;
  }
  .search-container {
      margin-top: 10px;
      padding-bottom: 8px;
  }
  input.rounded {
      width: 250px;
  }

  .source-close:before {
    z-index: 999 !important;
    margin-left: 28%;
    margin-top : 30px;
  }

  .source-open:before {
    z-index: 999 !important;
    margin-left: 24%;
    margin-top : 30px;
    transform: rotate(180deg);
  }
  .color-adjust {
    margin-right: 10px;
    margin-top: 5px;
    z-index: 999;
    position: absolute;
    color: #db3745;
    margin-left: 220px;
  }
  .menu-bar-breed {
    width: 20px;
    height: 20px;
    background-size: contain;
    vertical-align:middle;
  }
  .sidebar-logout{
  width: 230px;
  }
  .sidebar-content-wrapper {
      width: 230px;
  }
  .label-align {
      font-size: 13px;
  }
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes animate-sidebar-open {
    0%   {margin-left: -230px;}
    100%   {margin-left: 0px;}
  }

  /* Standard syntax */
  @keyframes animate-sidebar-open {
    0%   {margin-left: -230px;}
    100%   {margin-left: 0px;}
  }

  .closed{
    margin-left: -230px;
  }

  .sidebar-closed {
    margin-left: -230px;
    -webkit-animation-name: animate-sidebar-close; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: animate-sidebar-close;
    animation-duration: 1s;
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes animate-sidebar-close {
    0%   {margin-left: 0px;}
    100%   {margin-left: -230px;}
  }

  /* Standard syntax */
  @keyframes animate-sidebar-close {
    0%   {margin-left: 0px;}
    100%   {margin-left: -230px;}
  }
}

*:focus,
*:active,
a:active,
a:focus,
input:focus,
input:active { 
    -moz-outline-style: none !important;
  outline:none !important;
  outline: 0 !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.incubationManager::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  font-size: 14px !important;
  opacity: 1; /* Firefox */
}

.incubationManager:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white !important;
}

.incubationManager::-ms-input-placeholder { /* Microsoft Edge */
  color: white !important;
}

.enable-notifications {
  display: none;
}

/**Manage User**/
.flex-wrap{
  display: flex;
  justify-content: center !important;
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 120px;
}
.info-wrap{
  display: flex;
  justify-content: center !important;
  flex-direction: column;
  align-items: center;
  height: min-content;
  margin: 10px;
  min-height: 48px;
}
.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}
.img-wrap{
  width: 100%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 0 !important;
}
.cards {
  background: #2e383b;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  height: fit-content;
  margin: 1rem;
  position: relative;
  width: 250px !important;
  font-family: 'ProximaNova-Semibold';
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.view-button {
  height: auto;
  padding: 5px;
  background-color: #3a464a;
  display: flex;
  text-align: center;
  align-items: center !important; 
  justify-content: center !important;
}

.delete-button {
  height: auto;
  padding: 5px;
  background-color: #942f42;
  display: flex;
  text-align: center;
  align-items: center !important; 
  justify-content: center !important;
}

.popup-foreground {
  position: absolute;
  left: 2%;
  right: 2%;
  top: 10%;
  bottom: 25%;
  width: 50%;
  height: fit-content;
  flex-direction: column;
  margin: auto;
  padding: 25px 10px;
  background: #fff;
  border-radius: 5px;
}

.form-title-wrap {
  display: flex;
  justify-content: flex-start !important;
}

.align-label{
  text-align: center;
}

.form-user-details input[type=text], 
.form-user-details input[type=password],
.form-user-details input[type=number],
textarea, 
select{
  border: 1px solid #000000;
  border-radius: 2px;
}

.form-user-details input[type=text]:focus, 
.form-user-details input[type=password]:focus,
.form-user-details input[type=number]:focus,
.form-user-details textarea:focus, 
.form-user-details select:focus{
    -moz-box-shadow: 0 0 8px #000000;
    -webkit-box-shadow: 0 0 8px #000000;
    box-shadow: 0 0 8px #000000;
}

.pad3{
  padding: 3px 0px;
}

.button-wrap {
  display: flex;
  justify-content: center !important;
  margin-top: 20px;
}

.icon-wrapper {
  color: #000000;
}

.full-field-label {
  font-family: 'ProximaNova-Semibold';
}

.align-search{
  display: flex;
  justify-content:  center !important;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-margin{
  margin: 5px;
}

.btn-warning-alert{
  border: 2px solid black;
  border-radius: 5px;
  padding: 0px 10px;
  margin: 5px;
  text-align: center;
}

.btn-warning-alert:hover{
  background: #bbb;
}

.warning-buttons{
  justify-content: center;
}

#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #334043;
  z-index: 99999999999 !important;
  position: fixed;
  bottom: 11px;
  right: 13px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #334043;
  -webkit-box-shadow: 0 0 0 0 rgb(51, 64, 67);
  box-shadow: 0 0 0 0 rgb(51, 64, 67);
  -webkit-animation: pulse 1.5s infinite;
}

#floating-button:hover {
  -webkit-animation: none;
}

@keyframes pulse {
  70% {
    box-shadow: 0 0 0 20px rgba(166,41,54, 0);
  }
    100% {
    box-shadow: 0 0 0 0 rgba(166,41,54, 0);
  }
}


.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 60px;
  font-size: 38px;
  font-family: ProximaNova-Light, Arial, Verdana, Tahoma, sans-serif;
}

.password-checker-valid{
  color: black;
  background: #5cb85c;
  border-radius: 3px;
  font-size: 15px;
}

.password-checker-invalid{
  color: black;
  background: #fff;
  border-radius: 3px;
  font-size: 15px;
}

.password-filter{
  font-family: ProximaNova-Light, Arial, Verdana, Tahoma, sans-serif;
  color: black;
  font-size: .6rem;
  display: inline-block;
  margin-bottom: 4px;
  margin-left: 2px;
  line-height: .8rem;
  vertical-align: middle;
}

.roleContainer{
  display: inline-grid;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.pop-up-register{
  position: absolute;
  left: 2%;
  right: 2%;
  top: 32%;
  bottom: 25%;
  width: 50%;
  height: fit-content;
  flex-direction: column;
  margin: auto;
  padding: 25px 10px;
  background: #fff;
  border-radius: 5px;
}

.email-checker{
  color: red;
  font-size: 12px;
}

/*END MANAGE USER*/

.k-header--static{
  background-color: #efeff5;
}

/*INBOX*/
.inbox-container{
  margin: 5px 30px  !important;
  height: auto;
  border-radius: 5px;
  background-color: #f2f3f5;
}

.inbox-date{
  font-family: 'ProximaNova-Regular';
  color: #5e6b80;
  align-items: center;
  display: flex;
  margin-bottom: -16px;
}

.inbox-status{
  font-family: 'ProximaNova-Semibold';
  border-radius: 3px;
  background-color: #eae6fc;
  padding: 0px 5px;
  margin: 5px -5px;
  margin-bottom: -5px;
}

.inbox-message{
  font-family: 'ProximaNova-Regular';
      display: flex;
    background: white;
    height: auto;
    padding: 10px !important;
    margin: 10px !important;
    border-radius: 5px;
    border: 1px solid #e7e9ea;
    flex-direction: column;
}

.message-details{
  font-family: 'ProximaNova-Regular';
  color: #5e6b80;
  font-size: 12px;
}

.learn-more{
  color: blue;
  text-align: right;
}
