/*Dashboard*/
.center-align-season {
  text-align: center;
  margin-bottom: 10px;
  position: absolute;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.label-start-season {
  font-family: ProximaNova-Bold;
  text-align: center;
  font-size: 1.2rem;
}

.label-select-season {
  font-family: ProximaNova-Semibold;
  text-align: center;
  font-size: .8rem;
  margin-bottom: 0 !important;
}

.popup_inner_season {
  position: absolute;
  left: 2%;
  right: 2%;
  top: 10%;
  bottom: 25%;
  width: 280px;
  height: 230px;
  flex-direction: column;
  margin: auto;
  padding: 25px 10px;
  background: #db3745;
  border-radius: 5px;
}

.tutorial-label {
  color:#db3745;
  font-family: 'ProximaNova-Regular';
}
.tutorial-header {
  color:#db3745;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  width: 100%;
  
  font-size: 16px;
}
.popup_inner_tutorial {
  position: absolute;
  left: 2%;
  right: 2%;
  top: 20%;
  bottom: 25%;
  width: 80%;
  height: 430px;
  overflow-y: scroll;
  flex-direction: column;
  margin: auto;
  padding: 25px 10px;
  background: #FFF;
  border: 2px solid; 
  color: #db3745;
  border-color: #db3745;
  border-radius: 5px;
}

.wrap-input-season {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    justify-content: center;
}

.home-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.season-target {
  position: absolute;
  right: 5px;
}

.selected-target {
  margin-left: -82px;
  color: #db3745;
  font-family: ProximaNova-Regular;
  font-size: .8rem;
}

.season-list {
  padding: 5px 0;
}

.season-border {
  border: 2px solid #db3745 !important;
  padding: 2px;
  border-radius: 5px;
  width: 350px;
  padding-left: 10px;
  font-family: ProximaNova-Regular;
  color: #db3745;
  font-size: .8rem;
  background: #fff;
  -webkit-text-fill-color: #db3745; 
  -webkit-opacity: 1;
}

.season-drop {
  margin-left: 10px;
}

.season-drop ul {
  position: absolute;
  z-index: 999;
  border: 2px solid #db3745;
  background: #fff;
  padding: 6px 6px;
  width: 350px;
  height: auto;
  max-height: 250px;
  overflow-y: scroll;
  color: #db3745;
  list-style: none;
  border-radius: 5px;
  margin-top: 5px;
  font-family: ProximaNova-Regular;
  font-size: 14px;
  -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.15);
  -moz-box-shadow: 0 3px 8px rgba(0,0,0,.15);
  box-shadow: 0 3px 8px rgba(0,0,0,.15);
}

.season-drop > label:hover{
  border-color: #333;
}

.season-hide ul {
  display: none;
}

.btn-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.season-container {
  margin-left: 10px !important;
}

.progress-bar-season {
  margin: auto;
  position: absolute;
  top: 45%; left: 45%; bottom: 0; right: 0;
  color: #fff;
}

.load-size {
  width: 50px !important;
  height: 50px !important;
  border: 6px solid #fff !important;
  border-top: 6px solid #000000 !important;
}

@media only screen and (max-width: 400px) {
  .label-select-season {
    font-size: .6rem;
  }
}

@media only screen and (max-width: 730px) {
  .season-border {
  width: 180px;
  }

  .season-drop {
    margin: 8px;
  }

  .season-drop ul {
    width: 180px;
  }
}